<section class="contact-edit">
    <button (click)="goBack()">Back</button>
    <button (click)="deleteContact()" *ngIf="contact._id">Delete</button>
    <form (ngSubmit)="onSubmit()" *ngIf="contact">
        <div>
            <label for="name">Name:</label>
            <input type="text" required [(ngModel)]="contact.name" id="name" name="name" #name="ngModel" #spy>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" required [(ngModel)]="contact.email" id="email" name="email" #email="ngModel" #spy>
        </div>
        <div>
            <label for="phone">Phone:</label>
            <input type="text" required [(ngModel)]="contact.phone" id="phone" name="phone" #phone="ngModel" #spy>
        </div>
        <button>Save</button>
    </form>
    <pre>{{contact|json}}</pre>
</section>